html{
    cursor: url(imagens/mata_mosquito.png) 30 30, auto;
}

body{
    background-image: url(imagens/bg.jpg);
    background-size: 100%;
}



.mosquito1{
    width: 3rem;
    height: 3rem;
}

.mosquito2{
    width: 4.5rem;
    height: 4.5rem;
}

.mosquito3{
    width: 6.5rem;
    height: 6.5rem;
}

.ladoA{
    transform: scaleX(1); 
}

.ladoB{
    transform: scaleX(-1); /*inverter imagem*/
}

.painel{
    position: absolute;
    width: 190px;
    padding: 10px;
    bottom: 0px;
    left: 0px;
    border-top: solid 1px #fff ;
    background-color: #fff;
    opacity: 0.7;
}

.vidas{
    float: left;
}

.cronometro{
    float: left;
    font-size: 20px;
    font-weight: bold;
}